<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/styleAbout.css" />
    <title>CF - Comparator</title>
    <script src="https://kit.fontawesome.com/66aa7c98b3.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <ul>
          <a href="/"><li>Home</li></a>
    
          <a href="/about"><li>About</li></a>
          <a href="/display"><li>Contact</li></a>
        </ul>
      <div class="handle">Menu</div>
    </nav>
         
         <br><br><br>
         <div class="paper">
            <div class="paper-content">
                <textarea autofocus disabled>Hello Guys!&#10;This project is made for newbie coders to follow the path of a Expert >= coders. You get their followed roadmap of problems which they used to become a top competitive programmer, and then you follow the same path as they did. And then practice and learn the same concepts that they learn through that roadmap of problems.
                   
                </textarea>
            </div>
                   
            
        </div>
    
      
       
    
    <script src="public/js/index.js"></script>
    </body>
    </html>