<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <link rel="stylesheet" href="/css/style.css" />
    <title>CF - Comparator</title>
</head>
<body>
     <h3><%= welcome %></h3>
    <h1>Hello</h1>
   <form  action="/" method="post">
    
        <label for="cfhInput">CF handle 1: </label>
         <input id="cfhInput" type="text" name="cfName1">

         <label for="cfhInput">CF handle 2: </label>
         <input id="cfhInput" type="text" name="cfName2">
        
        
       <button type="submit">Go</button> 
       
      </form> 




      <script src="/js/index.js"></script>
</body>
</html>