<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <link rel="stylesheet" href="/css/style.css" />
    <title>CF - Comparator</title>
</head>
<body>

  <nav>
    <ul>
      <a href="/"><li>Home</li></a>

      <a href="/about"><li>About</li></a>
      <a href="/display"><li>Contact</li></a>
    </ul>
  <div class="handle">Menu</div>
</nav>
     
     <br><br><br>
<h2>Codeforces Comparator</h2>
<form action="/" method="post">
  <section class="left">
    <div class="input-container">
      <label for="cfhInput" >CF Handle 1: </label>
      <input id="cfhInput" type="text" name="cfName1" required>
    </div>
    
  </section>
  <section class="right">
    <div class="input-container">
      <label for="cfhInput">CF Handle 2: </label>
     <input id="cfhInput" type="text" name="cfName2" required>
    </div>
    
  </section>
  <br>
  <div class="send-container">
    <button type="submit">SUBMIT</button> 
   </div>
</form>
  



      <script src="public/js/index.js"></script>
</body>
</html>